:root {
    --palette-blue-1: #3e5265;
    --palette-blue-2: #48808e;
    --palette-blue-3: #bdd9e0;
    --palette-blue-4: #5ba1b2;
    --palette-blue-5: #5a7790;
    --palette-blue-6: #1b2732;

    --palette-blue-1-slightly-transparent: rgba(62, 82, 101, 0.8);
    --palette-blue-5-very-transparent: rgba(90, 119, 144, 0.2);
    --palette-blue-5-semi-transparent: rgba(90, 119, 144, 0.5);
    --palette-blue-5-slightly-transparent: rgba(90, 119, 144, 0.8);

    --palette-gold: #eccd8f;

    --palette-pink-1: #ffbbcc;
    --palette-pink-2: #ffe2e9;

    --palette-sangria: #cc6a87;

    --palette-red-1: #aa3152;

    --palette-gray-1: #ddd;
    --palette-gray-2: #a4a4a4;



    --nav-background-color: var(--palette-blue-1);
    --nav-link-color: var(--palette-gold);
    --nav-link-hover-background-color: var(--palette-pink-1);
    --nav-link-hover-color: var(--palette-sangria);

    --subnav-background-color: var(--nav-link-hover-background-color);
    --subnav-link-color: var(--nav-link-hover-color);
    --subnav-link-hover-background-color: var(--palette-pink-2);
    --subnav-link-hover-color: var(--palette-sangria);

    --subnav-border-radius: .5rem;

    --footer-background-color: var(--nav-background-color);
    --footer-link-color: var(--palette-blue-3);

    --main-bg-color: #2b3945;
    --text-color: #e8e8e8;

    --header-height: 4rem;
    --footer-height: 3rem;

    --default-transition-time: .2s;

    --text-shadow-color: black;

    --short-text-shadow-style:
        1px 1px var(--text-shadow-color);

    --long-text-shadow-style:
        0px 0px var(--text-shadow-color),
        1px 1px var(--text-shadow-color),
        2px 2px var(--text-shadow-color),
        3px 3px var(--text-shadow-color),
        4px 4px var(--text-shadow-color),
        5px 5px var(--text-shadow-color),
        6px 6px var(--text-shadow-color);

    --section-background-color: var(--palette-blue-1-slightly-transparent);
    --section-hovered-background-color: var(--palette-blue-1);
    --section-border-color: var(--palette-blue-5);

    --footnote-number-color: var(--palette-sangria);
    --reference-number-color: var(--palette-blue-3);

    --footer-target-background-color: var(--palette-blue-5-semi-transparent);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;

    background-color: var(--main-bg-color);

    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    color: var(--text-color);
}

body > header {
    background-color: var(--nav-background-color);
    z-index: 10;
}

body > header > nav {
    width: 100%;
    background-color: var(--nav-background-color);
}

body > header > nav > ul#main-nav-menu {
    max-width: 75%;

    display: flex;
    flex-flow: row;
    justify-content: flex-start;

    font-size: 1.4rem;

    list-style-type: none;
    position: relative;

    background-color: var(--nav-background-color);
}

body > header > nav > ul#main-nav-menu > li {
    height: var(--header-height);

    color: var(--nav-link-color);
}

body > header > nav > ul#main-nav-menu > li > a {
    height: 100%;
    width: 100%;

    padding: 0 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--nav-background-color);

    will-change: color, background-color;
    transition: color var(--default-transition-time), background-color var(--default-transition-time);
}

body > header > nav > ul#main-nav-menu > li > a.nav-current-page {
    text-decoration: underline;
}

body > header > nav > ul#main-nav-menu > li:hover > a {
    background-color: var(--nav-link-hover-background-color);
    color: var(--nav-link-hover-color);
}

body > header > nav > ul#main-nav-menu > li:not(:first-of-type) > a {
    border-left: 1px solid var(--nav-link-color);
}

body > header > nav > ul#main-nav-menu > li:last-of-type > a {
    border-right: 1px solid var(--nav-link-color);
}

body > header > nav > ul#main-nav-menu > li.subnav-title {
    position: relative;
}

body > header > nav > ul#main-nav-menu > li.subnav-title > ul.subnav {
    position: absolute;

    display: none;
    flex-direction: column;

    font-size: 1.2rem;

    list-style-type: none;
}

body > header > nav > ul#main-nav-menu > li.subnav-title:hover > ul.subnav {
    display: flex;
}

body > header > nav > ul#main-nav-menu > li.subnav-title > ul.subnav > li {
    width: 100%;
    display: flex;
}

body > header > nav > ul#main-nav-menu > li.subnav-title > ul.subnav > li > a {
    width: 100%;
    padding: 0.5rem 2rem;
    white-space: nowrap;
    background-color: var(--subnav-background-color);
    color: var(--subnav-link-color);

    will-change: color, background-color;
    transition: color var(--default-transition-time), background-color var(--default-transition-time);
}

body > header > nav > ul#main-nav-menu > li.subnav-title > ul.subnav > li:last-of-type > a {
    border-radius: 0 0 var(--subnav-border-radius) var(--subnav-border-radius);
}

body > header > nav > ul#main-nav-menu > li.subnav-title > ul.subnav > li:hover > a {
    background-color: var(--subnav-link-hover-background-color);
    color: var(--subnav-link-hover-color);
}

body > header > nav #mobile-menu-button {
    display: none;
}



body > footer {
    height: var(--footer-height);
    display: flex;
    justify-content: center;
    background-color: var(--footer-background-color);
    color: var(--footer-link-color);
}

body > footer > ul {
    width: 60%;
    max-width: 500px;

    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    list-style-type: none;
}

body > footer > ul > li {
    font-size: 24px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

body > footer > ul > li > a#mathjax-link > img {
    height: 24px;
}

body > footer > ul > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
}

body > footer > ul > li > a#email-link:hover {
    color: var(--text-color);
}

body > footer > ul > li > a#github-link:hover {
    color: black;
}

body > footer > ul > li > a#linkedin-link:hover {
    color: #0077B5;
}

body > footer > ul > li > a#twitter-link:hover {
    color: #1da1f2;
}

body > footer > ul > li > a#mathjax-link:hover > img {
    background-color: #008200;
}

body > footer > ul > li > a#fun-number:hover {
    color: var(--text-color);
}

body > footer > ul > li > a#fun-number > .MathJax {
    font-size: 1rem !important;
}

body > main {
    padding: 1rem 10% 2rem 10%;
    line-height: 1.5;
}

body > main > section {
    background-color: var(--section-background-color);
    border: 1px solid var(--section-border-color);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    text-shadow: var(--short-text-shadow-style);
    -moz-text-shadow: var(--short-text-shadow-style);
    -webkit-text-shadow: var(--short-text-shadow-style);

    will-change: background-color;
    transition: background-color var(--default-transition-time);
}

body > main > section:hover {
    background-color: var(--section-hovered-background-color);
}

body > main > section:not(:first-of-type) {
    margin-top: 2rem;
}

body > main a {
    border: 1px solid var(--palette-blue-5);
    padding: 0 0.25rem;
    border-radius: 0.25rem;

    will-change: background-color;

    transition: background-color var(--default-transition-time);
}

body > main a:hover {
    background-color: var(--palette-blue-5-very-transparent);
}

body > main button {
    padding: 0.5rem 0.75rem;
    background-color: var(--palette-blue-1);
    color: var(--text-color);
    border: 1px solid var(--palette-blue-5);
    border-radius: 0.25rem;
    cursor: pointer;
    outline: none;
}

@media screen and (max-width: 640px) {
    body > header {
        width: 10rem;
        background: none;
    }

    body > header > nav {
        width: 100%;
        background: none;
        position: relative;

        --burger-side-length: 3rem;
        --burger-margin: 0.5rem;
    }

    body > header > nav > #mobile-menu-button-container {
        width: var(--burger-side-length);
        height: var(--burger-side-length);

        position: fixed;
        top: 0;
        left: 0;

        margin-top: var(--burger-margin);
        margin-left: var(--burger-margin);

        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: calc(var(--burger-side-length)/2);

        background-color: var(--nav-background-color);

        z-index: 11;
    }

    body > header > nav > #mobile-menu-button-container > #mobile-menu-button {
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 1.5rem;

        cursor: pointer;
    }

    body > header > nav > ul#main-nav-menu {
        max-width: 100%;

        position: fixed;
        top: var(--burger-margin);
        left: var(--burger-margin);

        padding-top: calc(calc(var(--burger-side-length)) + 0.25rem);
        padding-bottom: 1rem;

        --nav-border-radius: 0.5rem;
        border-radius: calc(var(--burger-side-length)/2) var(--nav-border-radius) var(--nav-border-radius) var(--nav-border-radius);

        display: none;
        flex-flow: column;
    }

    body > header > nav > ul#main-nav-menu.show-menu {
        display: flex;
    }

    body > header > nav > ul#main-nav-menu > li > a {
        border-top: 1px solid var(--nav-link-color);
    }

    body > header > nav > ul#main-nav-menu > li:not(:first-of-type) > a {
        border-left: none;
    }

    body > header > nav > ul#main-nav-menu > li:last-of-type > a {
        border-right: none;
        border-bottom: 1px solid var(--nav-link-color);
    }

    body > header > nav > ul#main-nav-menu > li.subnav-title > ul.subnav {
        top: 0;
        left: 100%;
    }

    body > header > nav > ul#main-nav-menu > li.subnav-title > ul.subnav > li:first-of-type > a {
        border-radius: 0 var(--subnav-border-radius) 0 0;
    }

    body > header > nav > ul#main-nav-menu > li.subnav-title > ul.subnav > li:only-of-type > a {
        border-radius: 0 var(--subnav-border-radius) var(--subnav-border-radius) 0;
    }

    body > main {
        margin-top: 5rem;
        padding: 0 2rem;
        padding: 1rem 2rem 2rem 2rem;
    }
}


@media print {
    header {
        display: none;
    }
    footer {
        display: none
    }
}