:root {
    --palette-dark-blue: #48808e;
    --palette-blue: #5ba1b2;
    --palette-light-blue: #bdd9e0;
    --palette-very-light-blue: #eef5f7;
    --palette-light-blue-transparent: rgba(189,217,224,.6);
    --palette-gray: #666;
    --palette-light-gray: #aaa;
    --palette-medium-light-gray: #ddd;
    --palette-very-light-gray: #eee;


    --nav-link-height: 4rem;

    --nav-background-color: white;
    --nav-link-color: var(--palette-light-gray);
    --nav-link-hover-color: var(--palette-blue);
    --nav-link-hover-background-color: var(--palette-very-light-gray);

    --subnav-background-color: var(--nav-link-hover-background-color);
    --subnav-link-color: var(--palette-gray);
    --subnav-link-hover-color: var(--palette-dark-blue);
    --subnav-link-hover-background-color: var(--palette-medium-light-gray);

    --nav-border-radius: .5rem;


    --mobile-menu-button-color: var(--palette-blue);


    --body-color: white;

    --drop-shadow-style: 3px 4px 6px 2px rgba(0,0,0,.05);
    --text-shadow-style: 0px 0px 2px white, 0px 0px 4px white;

    --footer-height: 6rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--body-color);
}

nav {
    display: flex;
    align-items: center;

    flex: 0 0 var(--nav-link-height);

    width: 100%;
    height: var(--nav-link-height);
    height: 2in;

    background-color: var(--nav-background-color);
}

a {
    text-decoration: none;
    color: inherit;
}

main a {
    --link-lr-padding: .25rem;

    padding: 0 var(--link-lr-padding);
    border: .5px solid;
    border-color: #f9f9f9;
    border-radius: .25rem;
    background-color: inherit;

    will-change: background-color, border-color;

    transition: background-color .2s, border-color .2s;
}

main a:hover {
    border-color: var(--palette-light-blue);
    background-color: var(--palette-light-blue-transparent);
}

nav > ul {
    list-style-type: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    
    font-size: 1.4rem;

    height: 100%;
}

nav > ul li {
    display: flex;
    height: 100%;
}

#mobile-menu-button {
    display: none;
}

nav > ul li a {
    display: flex;
    align-items: center;
    color: var(--nav-link-color);
    background-color: inherit;
    padding: 0 2rem;
    height: var(--nav-link-height);

    will-change: color, background-color;

    -webkit-transition: color .2s, background-color .2s;
    transition: color .2s, background-color .2s;
}

nav > ul li a:hover {
    color: var(--nav-link-hover-color);
    background-color: var(--nav-link-hover-background-color);
}

.subnav {
    position: absolute;

    display: none;
    flex-direction: column;
    
    font-size: 1.2rem;

    margin-top: var(--nav-link-height);
}

.subnav-title:hover > a {
    background-color: var(--nav-link-hover-background-color);
}

.subnav-title:hover > .subnav {
    display: flex;
}

.subnav li {
    background: none;
    width: 100%;
}

.subnav li a {
    color: var(--subnav-link-color);
    background-color: var(--subnav-background-color);
    width: 100%;
}

.subnav li a:hover {
    color: var(--subnav-link-hover-color);
    background-color: var(--subnav-link-hover-background-color);
}

/*.subnav > li:first-of-type a {
    border-radius: var(--nav-border-radius) var(--nav-border-radius) 0 0;
}*/

.subnav > li:last-of-type a {
    border-radius: 0 0 var(--nav-border-radius) var(--nav-border-radius);
}

main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-size: 16px;
    width: 80%;
    align-self: center;
}

footer {
    flex: 0 0 var(--footer-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #aaa;
}

footer hr {
    width: 80%;
    border-top: .5px solid #666;
}

footer ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

footer ul li a {
    text-decoration: none;
    color: inherit;
    width: 100%;
    margin: 0 .5rem;
}

@media screen and (max-width: 640px) {
    nav {
        position: absolute;
        flex-direction: column;
        width: 8rem;
        height: auto;
        background: none;
    }

    nav > ul {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        border-radius: 0 var(--nav-border-radius) var(--nav-border-radius) 0;
        box-shadow: var(--drop-shadow-style);
    }

    nav > ul:not(.show-menu) {
        display: none;
    }

    nav > ul li {
        /*box-shadow: var(--drop-shadow-style);*/
        background-color: var(--nav-background-color);
        width: 100%;
    }

    nav > ul li > a {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    #mobile-menu-button-container {
        width: 100%;
    }

    #mobile-menu-button {
        display: flex;
        justify-content: center;
        align-items: center;

        --margin-amount: .5rem;
        margin: var(--margin-amount);

        font-size: 1.5rem;

        width: calc(var(--nav-link-height) - 2*var(--margin-amount));
        height: calc(var(--nav-link-height) - 2*var(--margin-amount));
        
        color: var(--mobile-menu-button-color);
        background-color: var(--nav-background-color);
        
        border-radius: 50%;
        
        cursor: pointer;

        box-shadow: none;

        will-change: box-shadow;

        --transition-settings: box-shadow .3s;
        -webkit-transition: var(--transition-settings);
        transition: var(--transition-settings);
    }

    #mobile-menu-button:hover,
    #mobile-menu-button.show-menu {
        box-shadow: var(--drop-shadow-style);
    }

    nav > ul li:only-of-type,
    nav > ul li:only-of-type a {
        border-radius: var(--nav-border-radius);
    }

    nav > ul li:first-of-type,
    nav > ul li:first-of-type a {
        border-radius: 0 var(--nav-border-radius) 0 0;
    }

    nav > ul li:last-of-type,
    nav > ul li:last-of-type a {
        border-radius: 0 0 var(--nav-border-radius) 0;
    }

    .subnav {
        margin: 0;
        margin-left: 100%;
    }

    main {
        padding: var(--nav-link-height) 2rem 0;
    }
}

@media print {
    nav {
        display: none;
    }
    footer {
        display: none
    }
}