.highlight {
    --black: #000000;
    --blue: #6699cc;
    --blue2: #4e5a65;
    --blue3: #343d46;
    --blue4: #647382;
    --blue5: #5fb4b4;
    --blue6: #a6acb9;
    --green: #99c794;
    --grey: #333333;
    --orange: #f9ae58;
    --orange2: #ee932b;
    --orange3: #fac761;
    --pink: #c695c6;
    --red: #ec5f66;
    --red2: #f97b58;
    --white: #ffffff;
    --white2: #f7f7f7;
    --white3: #d8dee9;


    --background-color: var(--blue3);

    --default: var(--white3);

    --error: var(--black);
    --error-background: var(--red);

    --other: var(--default);

    --keyword: var(--pink);
    --keyword-constant: var(--red);
    --keyword-declaration: var(--red);
    --keyword-namespace: var(--default);
    --keyword-pseudo: var(--default);
    --keyword-reserved: var(--default);
    --keyword-type: var(--default);

    --name: var(--default);
    --name-attribute: var(--default);
    --name-builtin: var(--blue);
    --name-builtin-pseudo: var(--red);
    --name-class: var(--blue);
    --name-constant: var(--default);
    --name-decorator: var(--blue);
    --name-entity: var(--default);
    --name-exception: var(--default);
    --name-function: var(--blue5);
    --name-property: var(--default);
    --name-label: var(--default);
    --name-namespace: var(--default);
    --name-other: var(--default);
    --name-tag: var(--default);
    --name-variable: var(--default);
    --name-variable-class: var(--default);
    --name-variable-global: var(--default);
    --name-variable-instance: var(--default);

    --literal: var(--default);
    --literal-date: var(--default);

    --literal-string: var(--green);
    --literal-string-double: var(--green);
    --literal-string-single: var(--green);
    --literal-string-backtick: var(--green);

    --literal-string-char: var(--default);
    --literal-string-doc: var(--default);
    --literal-string-escape: var(--default);
    --literal-string-heredoc: var(--default);
    --literal-string-interpol: var(--default);
    --literal-string-other: var(--default);
    --literal-string-regex: var(--default);
    --literal-string-symbol: var(--default);

    --literal-number: var(--orange);
    --literal-number-float: var(--orange);
    --literal-number-hex: var(--orange);
    --literal-number-integer: var(--orange);
    --literal-number-integer-long: var(--orange);
    --literal-number-oct: var(--orange);
    --literal-number-bin: var(--orange);

    --operator: var(--red2);
    --operator-word: var(--red2);

    --punctuation: var(--blue6);

    --quote: var(--blue5);

    --comment: var(--blue6);
    --comment-multiline: var(--blue6);
    --comment-preproc: var(--blue6);
    --comment-single: var(--blue6);
    --comment-special: var(--blue6);

    --generic: var(--default);
    --generic-deleted: var(--default);
    --generic-emph: var(--default);
    --generic-error: var(--default);
    --generic-heading: var(--default);
    --generic-inserted: var(--default);
    --generic-output: var(--default);
    --generic-prompt: var(--default);
    --generic-strong: var(--default);
    --generic-subheading: var(--default);
    --generic-traceback: var(--default);
    --generic-lineno: var(--blue4);
}