.highlight {
    /* Polar Night */
    --nord0: #2e3440;
    --nord1: #3b4252;
    --nord2: #434c5e;
    --nord3: #4c566a;
    /* Snow Storm */
    --nord4: #d8dee9;
    --nord5: #e5e9f0;
    --nord6: #eceff4;
    /* Frost */
    --nord7: #8fbcbb;
    --nord8: #88c0d0;
    --nord9: #81a1c1;
    --nord10: #5e81ac;
    /* Aurora */
    --nord11: #bf616a;
    --nord12: #d08770;
    --nord13: #ebcb8b;
    --nord14: #a3be8c;
    --nord15: #b48ead;

    --text: var(--nord4);
    --text-whitespace: #fff;
    --escape: #fff;
    --error: var(--nord11);
    --other: var(--nord4);
    --keyword: var(--nord9);
    --keyword-constant: var(--nord11);
    --keyword-declaration: var(--nord9);
    --keyword-namespace: var(--nord9);
    --keyword-pseudo: var(--nord9);
    --keyword-reserved: var(--nord10);
    --keyword-type: var(--nord9);
    --keyword-variable: #fff;
    --name: var(--nord4);
    --name-attribute: var(--nord7);
    --name-builtin: var(--nord9);
    --name-builtin-pseudo: var(--nord9);
    --name-class: var(--nord7);
    --name-constant: var(--nord7);
    --name-decorator: var(--nord7);
    --name-entity: var(--nord12);
    --name-exception: var(--nord12);
    --name-function: var(--nord8);
    --name-function-magic: #fff;
    --name-property: var(--nord9);
    --name-label: var(--nord8);
    --name-namespace: var(--nord8);
    --name-other: var(--nord8);
    --name-tag: var(--nord9);
    --name-variable: var(--nord4);
    --name-variable-class: var(--nord4);
    --name-variable-global: var(--nord4);
    --name-variable-instance: var(--nord4);
    --name-variable-magic: #fff;
    --literal: var(--nord9);
    --literal-date: var(--nord9);
    --literal-string: var(--nord14);
    --literal-string-affix: #fff;
    --literal-string-backtick: var(--nord14);
    --literal-string-char: var(--nord14);
    --literal-string-delimiter: #fff;
    --literal-string-doc: var(--nord14);
    --literal-string-double: var(--nord14);
    --literal-string-escape: var(--nord12);
    --literal-string-heredoc: var(--nord14);
    --literal-string-interpol: var(--nord14);
    --literal-string-other: var(--nord14);
    --literal-string-regex: var(--nord13);
    --literal-string-single: var(--nord14);
    --literal-string-symbol: var(--nord14);
    --literal-number: var(--nord15);
    --literal-number-bin: var(--nord15);
    --literal-number-float: var(--nord15);
    --literal-number-hex: var(--nord15);
    --literal-number-integer: var(--nord15);
    --literal-number-integer-long: var(--nord15);
    --literal-number-oct: var(--nord15);
    --literal-number-other: #fff;
    --operator: var(--nord4);
    --operator-word: var(--nord9);
    --punctuation: var(--nord4);
    --punctuation-indicator: #fff;
    --comment: var(--nord3);
    --comment-hashbang: #fff;
    --comment-doc: #fff;
    --comment-multiline: var(--nord3);
    --comment-preproc: var(--nord10);
    --comment-preprocfile: #fff;
    --comment-single: var(--nord3);
    --comment-special: var(--nord3);
    --generic: var(--nord4);
    --generic-deleted: var(--nord11);
    --generic-emph: var(--nord4);
    --generic-error: var(--nord11);
    --generic-heading: var(--nord8);
    --generic-inserted: var(--nord14);
    --generic-output: var(--nord4);
    --generic-prompt: var(--nord4);
    --generic-strong: var(--nord4);
    --generic-subheading: var(--nord9);
    --generic-traceback: var(--nord13);
    --generic-lineno: var(--nord2);
}