.post {
    margin-top: 1rem;
}

.post section a[aria-label="Back to content"] {
    padding: 0;
    margin-left: 0.25rem;
}

.post section a[aria-label="Back to content"]::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='%23e8e8e8' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='9 10 4 15 9 20'%3E%3C/polyline%3E%3Cpath d='M20 4v7a4 4 0 0 1-4 4H4'%3E%3C/path%3E%3C/svg%3E");
}

.post section :target {
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    margin: 0.5rem 0;
}

.post .overflow-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.post h2 {
    margin-top: 1rem;
}

.post h3 {
    margin-top: 0.75rem;
}

.post .show-hide-button {
    margin: 0.5rem 0;
    width: 100%;
    font-size: 1rem;
    text-align: start;
}

.post .show-hide-button::after {
    content: "\002B";
    font-weight: bold;
    float: right;
}

.post .show-hide-button.active::after {
    content: "\2212";
}

.post .panel {
    display: none;
}

.post .panel.show {
    display: initial;
}

.post code.boxed {
    padding: 0.5rem 0.75rem;
    margin: 0.5rem 0;
    background-color: var(--palette-blue-2);
    display: block;
    border-radius: 0.25rem;
    overflow: scroll;
}

.post code.boxed.inline {
    padding: 0.25rem 0.5rem;
    background-color: var(--palette-blue-2);
    display: inline;
}

.post figure {
    margin: 1rem 0.25rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 0.5rem;
    border: 1px solid var(--palette-blue-3);
    border-radius: 0.25rem;
    overflow: scroll;
}

.post figcaption {
    font-size: 0.9rem;
    font-style: italic;
    padding: 0 1rem;
    color: var(--palette-blue-6);
}

.post ol,
.post ul {
    margin-inline-start: 1rem;
}

.post p {
    margin: 1rem 0;
}

.post blockquote {
    white-space: pre-line;
    width: fit-content;
    padding: 2rem;
    margin-left: 10%;
    background-color: var(--palette-blue-2);
    border-radius: 0.25rem;
}