figure.highlight {
  display: block;
}

figure.highlight pre {
  padding: 5px;
}

.highlight table td {
  padding: 5px;
}

.highlight table pre {
  margin: 0;
}

.highlight { background: var(--nord0); }
.highlight { color: var(--text); }
.highlight .w { background-color: var(--nord11); }
.highlight .esc { color: var(--escape); }
.highlight .err { color: var(--error); }
.highlight .x { color: var(--other); }
.highlight .k { color: var(--keyword); }
.highlight .kc { color: var(--keyword-constant); }
.highlight .kd { color: var(--keyword-declaration); }
.highlight .kn { color: var(--keyword-namespace); }
.highlight .kp { color: var(--keyword-pseudo); }
.highlight .kr { color: var(--keyword-reserved); }
.highlight .kt { color: var(--keyword-type); }
.highlight .kv { color: var(--keyword-variable); }
.highlight .n { color: var(--name); }
.highlight .na { color: var(--name-attribute); }
.highlight .nb { color: var(--name-builtin); }
.highlight .bp { color: var(--name-builtin-pseudo); }
.highlight .nc { color: var(--name-class); }
.highlight .no { color: var(--name-constant); }
.highlight .nd { color: var(--name-decorator); }
.highlight .ni { color: var(--name-entity); }
.highlight .ne { color: var(--name-exception); }
.highlight .nf { color: var(--name-function); }
.highlight .fm { color: var(--name-function-magic); }
.highlight .py { color: var(--name-property); }
.highlight .nl { color: var(--name-label); }
.highlight .nn { color: var(--name-namespace); }
.highlight .nx { color: var(--name-other); }
.highlight .nt { color: var(--name-tag); }
.highlight .nv { color: var(--name-variable); }
.highlight .vc { color: var(--name-variable-class); }
.highlight .vg { color: var(--name-variable-global); }
.highlight .vi { color: var(--name-variable-instance); }
.highlight .vm { color: var(--name-variable-magic); }
.highlight .l { color: var(--literal); }
.highlight .ld { color: var(--literal-date); }
.highlight .s { color: var(--literal-string); }
.highlight .sa { color: var(--literal-string-affix); }
.highlight .sb { color: var(--literal-string-backtick); }
.highlight .sc { color: var(--literal-string-char); }
.highlight .dl { color: var(--literal-string-delimiter); }
.highlight .sd { color: var(--literal-string-doc); }
.highlight .s2 { color: var(--literal-string-double); }
.highlight .se { color: var(--literal-string-escape); }
.highlight .sh { color: var(--literal-string-heredoc); }
.highlight .si { color: var(--literal-string-interpol); }
.highlight .sx { color: var(--literal-string-other); }
.highlight .sr { color: var(--literal-string-regex); }
.highlight .s1 { color: var(--literal-string-single); }
.highlight .ss { color: var(--literal-string-symbol); }
.highlight .m { color: var(--literal-number); }
.highlight .mb { color: var(--literal-number-bin); }
.highlight .mf { color: var(--literal-number-float); }
.highlight .mh { color: var(--literal-number-hex); }
.highlight .mi { color: var(--literal-number-integer); }
.highlight .il { color: var(--literal-number-integer-long); }
.highlight .mo { color: var(--literal-number-oct); }
.highlight .mx { color: var(--literal-number-other); }
.highlight .o { color: var(--operator); }
.highlight .ow { color: var(--operator-word); }
.highlight .p { color: var(--punctuation); }
.highlight .pi { color: var(--punctuation-indicator); }
.highlight .c { color: var(--comment); }
.highlight .ch { color: var(--comment-hashbang); }
.highlight .cd { color: var(--comment-doc); }
.highlight .cm { color: var(--comment-multiline); }
.highlight .cp { color: var(--comment-preproc); }
.highlight .cpf { color: var(--comment-preprocfile); }
.highlight .c1 { color: var(--comment-single); }
.highlight .cs { color: var(--comment-special); }
.highlight .g { color: var(--generic); }
.highlight .gd { color: var(--generic-deleted); }
.highlight .ge { color: var(--generic-emph); font-style: italic; }
.highlight .gr { color: var(--generic-error); }
.highlight .gh { color: var(--generic-heading); }
.highlight .gi { color: var(--generic-inserted); }
.highlight .go { color: var(--generic-output); }
.highlight .gp { color: var(--generic-prompt); }
.highlight .gs { color: var(--generic-strong); font-weight: bold; }
.highlight .gu { color: var(--generic-subheading); }
.highlight .gt { color: var(--generic-traceback); }
.highlight .gl { color: var(--generic-lineno); }