---
layout: default
title: Writings
---
<link rel="stylesheet" type="text/css" href="../shared.css">

<header class="index-header">
    <h1>Writings</h1>
    {% include blog-nav %}
</header>

<ul class="writings">
    {% if site.writings == empty %}
        {% include coming-soon.html %}
    {% else %}
        {% for writing in site.writings %}
            <li><a href="{{ writing.url }}" title="{{ writing.title }}">
                {{ writing.title }}
            </a></li>
        {% endfor %}
    {% endif %}
</ul>