---
layout: default
title: Writings
---
<link rel="stylesheet" type="text/css" href="../shared.css">

<header class="index-header">
    <h1>Writings</h1>
    <div>
        <a class="link-to-adjacent-page left" href="/blog">Blog</a>
        <a class="link-to-adjacent-page left" href="/blog/gallery">Gallery</a>
    </div>
</header>
<ul class="writings">
    {% if site.writings == empty %}
        {% include coming-soon.html %}
    {% else %}
        {% for work in site.writings %}
            <li><a href="{{ work.url }}" title="{{ work.title }}">
                {{ work.title }}
            </a></li>
        {% endfor %}
    {% endif %}
</ul>