<footer>
    <ul>
        <li>
            {% include link
                id="email-link"
                href="mailto:jesseendojenks@gmail.com"
                title="Email"
                content='<i class="far fa-envelope"></i>'
            %}
        </li>

        <li>
            {% include link
                id="github-link"
                title="Github"
                href="https://www.github.com/jessejenks"
                content='<i class="fab fa-github"></i>'
            %}
        </li>

        <li>
            {% include link
                id="linkedin-link"
                title="Linkedin"
                href="https://www.linkedin.com/in/jesse-endo-jenks"
                content='<i class="fab fa-linkedin"></i>'
            %}
        </li>

        <li>
            {% include link
                id="twitter-link"
                title="Twitter"
                href="https://twitter.com/JesseEndoJenks"
                content='<i class="fab fa-twitter"></i>'
            %}
        </li>

        <li>
            {% include link
                id="mathjax-link"
                title="MathJax"
                href="https://www.mathjax.org"
                content='<img title="Powered by MathJax" src="https://www.mathjax.org/badge/badge-square.svg" border="0" alt="Powered by MathJax"/>'
            %}
        </li>

        <li>
            {% include link
                id="fun-number"
                title="Fun Number"
            %}
        </li>
    </ul>
    <script>
        const whichFunNumber = Math.floor(Math.random()*funNumbers.length);
        const funNumberContainer = document.querySelector('#fun-number');
        funNumberContainer.href = funNumbers[whichFunNumber].link;
        funNumberContainer.innerText = funNumbers[whichFunNumber].number;
    </script>
</footer>