<footer>
    <ul>
        <li>
            <a
                id="email-link"
                href="mailto:jesseendojenks@gmail.com"
                title="Email"
            >
                <i class="far fa-envelope"></i>
            </a>
        </li>

        <li>
            <a
                id="github-link"
                target="_blank"
                href="https://www.github.com/jessejenks"
                title="Github"
            >
                <i class="fab fa-github"></i>
            </a>
        </li>

        <li>
            <a
                id="linkedin-link"
                target="_blank"
                href="https://www.linkedin.com/in/jesse-endo-jenks"
                title="Linkedin"
            >
                <i class="fab fa-linkedin"></i>
            </a>
        </li>

        <li>
            <a
                id="twitter-link"
                target="_blank"
                href="https://twitter.com/JesseEndoJenks"
                title="Twitter"
            >
                <i class="fab fa-twitter"></i>
            </a>
        </li>

        <li>
            <a
                id="mathjax-link"
                target="_blank"
                href="https://www.mathjax.org"
            >
                <img
                    title="Powered by MathJax"
                    src="https://www.mathjax.org/badge/badge-square.svg"
                    border="0"
                    alt="Powered by MathJax"
                />
            </a>
        </li>

        <li>
            <a target="_blank" id="fun-number" title="Fun Number"></a>
        </li>

        <!-- For tracking visits -->
        <!-- <div style="display:none;"><script type="text/javascript" src="//ra.revolvermaps.com/0/0/7.js?i=0hbv4cjt8yu&amp;m=7&amp;c=5ba1b2&amp;cr1=ffffff&amp;sx=0&amp;dds=0&amp;ds=20" async="async"></script></div> -->
    </ul>
    <script>
        const whichFunNumber = Math.floor(Math.random()*funNumbers.length);
        const funNumberContainer = document.querySelector('#fun-number');
        funNumberContainer.href = funNumbers[whichFunNumber].link;
        funNumberContainer.innerText = funNumbers[whichFunNumber].number;
    </script>
</footer>