---
layout: default
title: Links
---
<style>
	.list-of-links {
		list-style-type: none;
		margin-bottom: 1rem;
	}

	.list-of-links > li {
		padding-left: 1rem;
	}

	.name {
		width:25%;
		display:inline-block;
	}
</style>
<script src="/js/utils.js"></script>
<script src="/js/permutations.js"></script>
<script src="/js/colorful-maze.js"></script>

<section>
	<h2>Cool links</h2>
	<ul class="list-of-links">
		{% for link in site.data.cool_links %}
			<li>
				<a target="_blank" rel="noopener" href="{{ link.page }}" title="{{ link.name }}'">
					{{ link.name }}
				</a>
			</li>
		{% endfor %}
	</ul>
</section>

<section>
	<h2>Friends</h2>
	<ul class="list-of-links">
		{% for friend in site.data.friends %}
			<li>
				<div class="name">{{ friend.name }}</div>
				{% if friend.link %}
					<a target="_blank" rel="noopener" href="{{ friend.link }}" title="{{ friend.name }}'s website">
						{{ friend.site }}
					</a>
				{% endif %}
			</li>
		{% endfor %}
	</ul>
</section>