---
layout: default
title: Links
---
<style>
	body {
		font-size: 20px;
		text-shadow: 1px 0px 2px white,2px 0px 4px white;
	}
	.left-indent {
		margin-left:2%;
	}
	.names {
		width:25%;
		display:inline-block;
	}
	.main-text {
		font-size: 24px;
	}
</style>
<script src="/js/libraries/p5.js" type="text/javascript"></script>
<script src="/js/libraries/p5.dom.js" type="text/javascript"></script>
<!-- <script src="/js/cyclic_ca.js"></script> -->
<script src="/js/color_plants.js"></script>
<!-- <h1>{{ page.title }}</h1> -->
<h2>Friends</h2>
<span class="main-text">
{% for friend in site.data.friends %}
	<span class="names left-indent">{{ friend.name }}</span>
	{% if friend.link != null %}
		<a target="_blank" href="{{ friend.link }}" title="{{ friend.name }}'s website">{{ friend.site }}</a>
	{% endif %}
	<br>
{% endfor %}
</span>

<h2>Cool links</h2>
<span class="main-text">
{% for link in site.data.cool_links %}
	<a class="left-indent" target="_blank" href="{{ link.page }}" title="{{ link.name }}'">{{ link.name }}</a>
	<br>
{% endfor %}
</span>
