---
layout: default
title: Links
---
<style>
	main {
		font-size: 1.25rem;
		text-shadow: var(--text-shadow-style);
	}
	.left-indent {
		margin-left:1rem;
	}
	.names {
		width:25%;
		display:inline-block;
	}
	.main-text {
		font-size: 24px;
	}
</style>
<script src="/js/utils.js"></script>
<script src="/js/permutations.js"></script>
<script src="/js/colorful_maze.js"></script>

<h2>Cool links</h2>
<span class="main-text">
{% for link in site.data.cool_links %}
	<a class="left-indent" target="_blank" href="{{ link.page }}" title="{{ link.name }}'">{{ link.name }}</a>
	<br>
{% endfor %}
</span>

<h2>Friends</h2>
<span class="main-text">
{% for friend in site.data.friends %}
	<span class="names left-indent">{{ friend.name }}</span>
	{% if friend.link != null %}
		<a target="_blank" href="{{ friend.link }}" title="{{ friend.name }}'s website">{{ friend.site }}</a>
	{% endif %}
	<br>
{% endfor %}
</span>