---
layout: post
title: "Binary Sequences"
date: 2016-11-22
tags: [math]
---
<style type="text/css">
    #input-sequence,
    #generate-sequence-button {
        font-family: monospace;
        font-size: 1.25rem;
        width: 100%;
    }

    #input-sequence {
        padding: 0.25rem 0.5rem;
    }

    #generate-sequence-button {
        cursor: pointer;
        border: 1px solid var(--palette-blue-5);
        border-radius: 0.25rem;
        background-color: var(--palette-blue-1);
        padding: 0.5rem 1rem;
        color: var(--text-color);
    }

    .binary-sequence {
        font-family: monospace;
        font-size: 1rem;
        word-break: break-all;
        line-height: 1rem;
        max-height: 3rem;
        overflow-y: hidden;
        margin: 1rem 0;
    }

    #thue-grid-container {
        width: 100%;
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    canvas {
        width: 0;
        height: 0;
    }
</style>
<!-- Sage Stuff  -->
<script src="https://sagecell.sagemath.org/static/jquery.min.js"></script>
<script src="https://sagecell.sagemath.org/embedded_sagecell.js"></script>
<!-- Create a sage cell -->
<script>
$(function() {
    sagecell.makeSagecell({
      inputLocation: '#debruijn',
      evalButtonText: 'See De Bruijn Graph'});
    });
</script>
<script src="/js/utils.js"></script>
<script src="/js/binary-sequences/binary-sequences-utils.js"></script>

<section>
    <h2>Maximally Unpredictable Sequences</h2>
    <hr>

    <p>Recently, my {% include link href="http://buzzard.pugetsound.edu" content="abstract algebra teacher" %} mentioned a very interesting class of binary sequences called "maximally unpredictable" sequences, so I decided to make a simple generator. Hit <code>Generate Sequence</code> if you want to see the {% include link href="https://oeis.org/A038219" content="original sequence (A038219)" %} described in {% include reference-link id="ehrenfeucht-mycielski-paper" content="Ehrenfeucht and Mycielski's paper" %}, or type in any binary sequence and this will generate the "most unpredictable" sequence based off of your input.</p>

    <figure>
        <input type="text" id="input-sequence" placeholder="010">
        <br>
        <button id="generate-sequence-button" type="button" onclick="generateUnpredictableSequenceFigure()">
            Generate Sequence
        </button>

        <div id="unpredictable-sequence" class="binary-sequence"></div>
        <canvas id="unpredictable-sequence-grid"></canvas>

        <figcaption id="unpredictable-sequence-caption"></figcaption>
        <script src="/js/binary-sequences/max-unpredictable.js"></script>
    </figure>

    <p>If you were given the first 10 terms of a sequence of 1s and 0s, how would you try to predict what the 11th term in is? One approach is to try and find the {% include footnote-link id="chunk" content="longest chunk from the end" %} which has appeared before. For example, take these ten terms \[0100110101.\] If we look at the last three terms \(101\), the last time this pattern occurred was in the 6th through 8th positions. This is the longest chunk from the end which has appeared sometime earlier in the sequence so our guess is whatever value is in the 9th position, \(0\). In order to make a sequence which was as hard as possible to guess, we flip that scheme on its head and say the next term in this sequence is the <em>opposite</em> of whatever your guess would have been! Hence this sequence is "maximally unpredictable".</p>

    <p>It would be interesting to explore different sequences where the next term is defined by flipping various guessing schemes on their heads.</p>
</section>

<section>
    <h2>The Thue-Morse Sequence</h2>
    <hr>

    <p>I first got interested in binary sequences in the summer of 2014 when I came across the {% include link href="https://oeis.org/A010060" content="Thue-Morse sequence (A010060)" %}. This sequence is defined recursively:</p>

\[
  \begin{align*}
    T_0 &= 0\\
    T_{2n} &= T_{n}\\
    T_{2n+1} &= 1 - T_{n}
  \end{align*}
\]

    <p>The recursive definition makes it very appealing to computer scientists. For example, you can indefinitely generate terms with just a few lines of code:</p>

{% highlight javascript linenos %}
let T = [];
T[0] = 0;
let n = 0;
while (n < Infinity) {
    T[2*n] = T[n];
    T[2*n + 1] = 1 - T[n];
    n++;
}
{% endhighlight %}

    <p>Here's what that sequence looks like.</p>
    <div class="binary-sequence">
    01101001100101101001011001101001100101100110100101101001100101101001011001101001011010011001011001101...
    </div>

    <p>That summer I spent an inordinate amount of time working out this closed form solution \[
        T_n=1+\left(\sum_{k=0}^{\lfloor\log_2(n)\rfloor-1}\left\lfloor\frac{n}{2^k}\right\rfloor\mod 2\right)\mod 2
    .\] There are other closed form solutions involving sines and binomial coefficients, but I have not seen this particular solution anywhere.</p>

    <p>One of the interesting properties this sequence has is that the \(n\)-th term counts the number of 1s in the binary expansion of \(n\). I later found out that this was some "well-known" result, but I guess it depends who you ask.</p>

    <p>This sequence has some very interesting 'fractal' properties as well. If we take the first \(2^{2n}\) terms and place them in a grid, ordered left to right, top to bottom, a repeating pattern emerges. Here are those patterns for \(n = 1, 2, 3, 4\).</p>

    <figure>
        <div id="thue-grid-container"></div>
        <figcaption>
            The fractal nature of the Thue-Morse sequence visualized.
        </figcaption>
        <script src="/js/binary-sequences/thue-morse.js"></script>
    </figure>

    <p>But the coolest property is this: if you interpret the sequence as a set of instructions where 0 means move forward, and 1 means rotate by \(\pi/3\) radians, a familiar pattern begins to emerge...</p>

    <!-- <iframe src="/js/thue-turtle.html", width="512px", height="512px"></iframe> -->
    <figure>
        <canvas id="thue-turtle"></canvas>
        <figcaption>
            Yet another fractal pattern hidden in the Thue-morse sequence.
        </figcaption>
        <script src="/js/binary-sequences/thue-turtle.js"></script>
    </figure>


    <p>Details on why this happens can be found {% include link href="http://personal.kenyon.edu/holdenerj/StudentResearch/WhenThueMorsemeetsKochJan222005.pdf" content="here" %}.</p>
</section>

<section>
    <h2>De Bruijn Sequences</h2>
    <hr>
    <p>The final binary sequence I want to talk about here is another class of binary sequences called De Bruijn sequences. These are not necessarily binary sequences, but the easiest to visually see in binary. De Bruijn sequences are, in a sense the most efficient way of encoding permutations. These sequences are named after Nicolaas Govert de Bruijn, a Dutch mathematician who probably deserves his own post. But for now, here is an embedded Sagemath cell.</p>

    <p>A (2,3) De Bruijn sequence looks like this: <code>00010111</code>. This string contains every possible 8-bit sequence which you can see by looking at consecutive strings of length 3.</p>

    <p>But how do we find these sequences? It turns out these sequences correspond exactly to what are called *Hamiltonian cycles*, or a path through a certain type of graph which touches every vertex exactly once, and returns to the starting vertex. To see what I mean, check out the sage cell below.</p>

    <div id="debruijn" style="width: 100%;">
        <script type="text/code">
# Sagemath
# Edit me!
B = digraphs.DeBruijn(2, 3)
# see what happens with DeBruijn(2, x) for large values of x!
E = B.edges()
V = B.vertices()
myList = [0,1,2,5,3,7,6,4,0]
sequence = ''
space = ''
list = ''
for index in myList:
    sequence += str(V[index][0])
    list += space+str(V[index])+'\n'
    space += ' '
print(sequence + '0')
print(list)
R = rainbow(B.num_verts()) # 2^3

colors = {
    # color edges by order in sequence
    R[0]:[(V[0],V[1])], # [E[1]],
    R[1]:[(V[1],V[2])], # [E[2]],
    R[2]:[(V[2],V[5])], # [E[5]],
    R[3]:[(V[5],V[3])], # [E[11]],
    R[4]:[(V[3],V[7])], # [E[7]],
    R[5]:[(V[7],V[6])], # [E[14]],
    R[6]:[(V[6],V[4])], # [E[12]],
    R[7]:[(V[4],V[0])], # [E[8]],
    # grey edges
    (0.8,0.85,0.9):[E[0],E[3],E[4],E[6],E[9],E[10],E[13],E[15]]
}
B.show(layout='circular', vertex_size=800, edge_colors=colors)
      </script>
    </div>
</section>

<section>
    <footer class="footnotes">
        <h3>Footnotes</h3>
        <hr>
        <ol>
            {% include footnote
                id="chunk"
                content="More technically, the longest suffix which has appeared at least once before."
            %}
        </ol>
    </footer>

    <footer class="references">
        <h3>References</h3>
        <hr>
        <ol>
            {% include reference
                id="ehrenfeucht-mycielski-paper"
                content="Ehrenfeucht, A., & Mycielski, J. (1992). <em>A Pseudorandom Sequence -- How Random Is It?</em> The American Mathematical Monthly, 99(4), 373-375. doi:10.2307/2324917"
            %}
        </ol>
    </footer>
</section>