---
layout: post
title: "Rapidly-exploring Random Trees"
date: 2017-01-02
tags: [math, computer science, graph theory]
---
<script src="/js/libraries/p5.js" type="text/javascript"></script>
<script src="/js/libraries/p5.dom.js" type="text/javascript"></script>
<script src="/js/rrt.js" type="text/javascript"></script>

<figure>
    <div id="rrt" style="display: flex;justify-content: center;"></div><br><br>
    <div id="path_check" style="display: flex;justify-content: center;text-align:center;"></div>
    <div id="edge_check" style="display: flex;justify-content: center;text-align:center;"></div>
    <div id="vert_check" style="display: flex;justify-content: center;text-align:center;"></div>
    <div id="sample_check" style="display: flex;justify-content: center;text-align:center;"></div>
    <div id="rando_check" style="display: flex;justify-content: center;text-align:center;"></div>

    <div style="display: flex;justify-content: center;text-align:center">Click to start a new exploration<br>Or press 'g' to instantly generate random tree</div>
</figure>

<section>
    <p>Based on {% include link href="https://www.jasondavies.com/rrt/" content="this post" %} from Jason Davies and pseudocode from {% include link href="http://msl.cs.uiuc.edu/rrt/about.html" content="here" %}. Rapidly-exploring Random Trees are really cool since they provide an efficient way of exploring any metric space. This could mean anything from \(\mathbb{R}^n\) to the set of 8-bit binary numbers. Unlike the usual algorithm, I am using the "Mitchell's best candidate" algorithm instead of uniform random sampling with the hope that it speeds up the search, but I don't see much of a difference.</p>
</section>