---
layout: default
title: Resume
---
<link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:100|Montserrat|Nunito:200,600" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="./resume.css">

<div id="resume-container">
	<div id="current-page-info">
		<h2>CV</h2>
		<a href="/resume/Jesse_Jenks_Resume.pdf">See resume instead</a>
	</div>
	<div id="name">
		<div>Jesse</div>
		<div>Endo</div>
		<div>Jenks</div>
	</div>
	<hr>
	
	<ul id="contact-info" class="normal-text">
		<li>(510) 508-9512</li>
		<li>
			<a
				href="mailto:jesseendojenks@gmail.com?Subject=Saw%20Your%20Resume"
			>
				JesseEndoJenks@gmail.com
			</a>
		</li>
		<li>Seattle, WA</li>
	</ul>

	<h2 class="section-header">Education</h2>
	<div class="section-container">
		<div class="section-row">
			<div class="bold-text">University of Puget Sound</div>
			<div class="normal-text small right">Tacoma, WA</div>
		</div>
		<div class="section-row">
			<div class="bold-text">
				B.S. in Mathematics and Computer Science
			</div>
			<span class="dash extra-space">-</span>
			<div class="normal-text">double major</div>
			<div class="normal-text small right">
				May 2018
			</div>
		</div>
		<div class="section-row">
			<div class="bold-text align-on-right">Honors</div>
			<div class="normal-text"><i>magna cum laude</i></div>
		</div>
		<div class="section-row">
			<div class="bold-text align-on-right">Relevant Courses</div>
			<div class="bold-text">University of Puget Sound / Budapest Semesters in Mathematics</div>
		</div>
		<ul class="subsection-list no-bullets normal-text">
			<li>Algorithms, Artificial Intelligence, Optimization, Software Engineering, Theory of Computing</li>
			<li>Abstract Algebra&nbsp;I & II, Linear Algebra, Real Analysis&nbsp;I & II, Set Theory, Topology, Mathematical Logic</li>
		</ul>
	</div>


	<h2 class="section-header">Skills</h2>
	<div class="section-container">
		<div class="section-row align-top">
			<div class="bold-text align-on-right">Languages &amp; Libraries</div>

			<div class="normal-text" id="language-table-container">
				<table id="mobile-table">
					{% assign rows = site.data.languages.size | divided_by: 2.0 | ceil %}
					{% for i in (1..rows) %}
						{% assign offset = forloop.index0 | times: 2 %}
						<tr>
							{% for language in site.data.languages limit:2 offset:offset %}
							<td class="language-icon">
								{% if language.type == "icon" %}
									<i class="{{ language.iconlink }}"></i>
								{% elsif language.type == "image" %}
									<img align="bottom" title="{{ language.name }}" alt="{{ language.name }}" src="{{ language.iconlink }}">
								{% endif %}
							</td>
							<td>
								<a target="_blank" href="{{ language.link }}">{{ language.name }}</a>
							</td>
							{% endfor %}
						</tr>
					{% endfor %}
				</table>
				<table id="desktop-table">
					{% assign rows = site.data.languages.size | divided_by: 3.0 | ceil %}
					{% for i in (1..rows) %}
						{% assign offset = forloop.index0 | times: 3 %}
						<tr>
							{% for language in site.data.languages limit:3 offset:offset %}
							<td class="language-icon">
								{% if language.type == "icon" %}
									<i class="{{ language.iconlink }}"></i>
								{% elsif language.type == "image" %}
									<img align="bottom" title="{{ language.name }}" alt="{{ language.name }}" src="{{ language.iconlink }}">
								{% endif %}
							</td>
							<td>
								<a target="_blank" href="{{ language.link }}">{{ language.name }}</a>
							</td>
							{% endfor %}
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
		<div class="section-row">
			<div class="bold-text align-on-right">Digital Media</div>
			<div class="normal-text">Adobe After Effects, Photoshop, Lightroom</div>
		</div>
		<div class="section-row">
			<div class="bold-text align-on-right">Foreign Language</div>
			<div class="normal-text">Fluent in Japanese</div>
		</div>
	</div>


	<h2 class="section-header">Projects</h2>
	<div class="section-container">
		<div class="subsection-header">

			<a href="/" id="animated-code-container" class="bold-text">
				<code style="display: flex;">
					<div style="color: #fc9867;"><i>this</i></div>
					<div style="color: white;">.site</div>
					<div style="color: #ff6188;">&nbsp;=&nbsp;</div>
					<div id="animated-code" style="color: #ffd866; display: flex;">
						'<span class="will-animate">www.</span>
						<span class="will-animate">very</span>
						<span class="will-animate">chill</span>
						<span class="will-animate">.biz</span>'
					</div>
					<div style="color: white;">;</div>
				</code>
			</a>

			<div id="alternate-website-display" class="bold-text subsection-title">jessejenks.github.io</div>
			<div class="normal-text small right">Fall 2016 - Present</div>
		</div>			
		<div class="subsection-container normal-text">
			<ul class="subsection-list">
				<li>Personal website showcasing various interactive Javascript projects</li>
				<li><a href="/blog">Blog</a> contains over 20 interactive pages on topics ranging from fractals, cellular automata, markov chains, neural nets, and many others</li>
			</ul>
		</div>


		<div class="subsection-header">
			<div class="bold-text subsection-title">Neural Net javascript library</div>
			<div class="normal-text small right">Fall 2017</div>
		</div>
		<div class="subsection-container normal-text">
			<ul class="subsection-list">
				<li>Wrote a neural net library from scratch in javascript to visualize in <a href="/blog/2018/04/10/NeuralNetjs">this&nbsp;blog&nbsp;post</a></li>
				<li>Implements backpropagation Includes a variety of activation and cost functions</li>
			</ul>
		</div>

		<div class="subsection-header">
			<div class="bold-text subsection-title">COMAP Mathematical Contest in Modeling Finalist</div>
			<div class="normal-text small right">Spring 2017</div>
		</div>
		<div class="subsection-container normal-text">
			<ul class="subsection-list">
				<li>Finished in top 11 out of 1,527 teams from around the world with 2 other teammates</li>
				<li>Created cellular automaton based model to study influence self-driving cars may have on traffic flow</li>
				<li><a target="_blank" href="https://www.seattletimes.com/education-lab/local-university-team-is-top-scorer-in-math-competition-on-self-driving-cars/">In the news!</a></li>
			</ul>
		</div>


		<div class="subsection-header">
			<div class="bold-text subsection-title">Raspberry Pi Slackbot</div>
			<div class="normal-text small right">Spring 2017</div>
		</div>
		<div class="subsection-container normal-text">
			<ul class="subsection-list">
				<li>Created a chatbot trained on text messages, YouTube comments, and Shakespeare</li>
				<li>Loaded onto a Raspberry Pi so that members could chat with it through a Slack channel</li>
			</ul>
		</div>

		<div class="subsection-header">
			<div class="bold-text subsection-title">
				Summer Research Paper
			</div>
			<div class="normal-text small right">
				Summer 2016
			</div>
		</div>
		<div class="subsection-container normal-text">
			<div class="normal-text indent">
				<a target="_blank" href="https://soundideas.pugetsound.edu/summer_research/276/">
					What Do We Mean by Logical Consequence?
				</a>
			</div>
			<ul class="subsection-list">
				<li>Conducted independent research on differing views within a main subfield of mathematical logic</li>
				<li>Wrote a 20 page research paper on John Etchemendy’s criticism of Tarskian model theory</li>
			</ul>
		</div>
	</div>


	<h2 class="section-header">Experience</h2>
	<div class="section-container normal-text">
		

		<div class="subsection-header">
			<div class="bold-text subsection-title">
				Software Engineer
			</div>
			<span class="dash">-</span>
			<div class="normal-text">
				Hex Insights, Seattle, WA
			</div>
			<div class="normal-text small right">
				September 2018 - Present
			</div>
		</div>
		<div class="subsection-container">
			<div class="bold-text default-color indent">
				<a target="_blank" href="https://hexinsights.com">
					Hex Insights
				</a>
			</div>
			<ul class="subsection-list">
				<li>Working in a small team focused on full-stack development</li>
				<li>Using modern web technologies including React, Express, Django, and Postgres</li>
			</ul>
		</div>


		<div class="subsection-header">
			<div class="bold-text subsection-title">
				Makerspace Assistant
			</div>
			<span class="dash">-</span>
			<div class="normal-text">
				University of Puget Sound, Tacoma, WA
			</div>
			<div class="normal-text small right">
				Spring 2018
			</div>
		</div>
		<div class="subsection-container">
			<div class="bold-text default-color indent">
				<a target="_blank" href="http://research.pugetsound.edu/makerspace">
					Collins Library
				</a>
			</div>
			<ul class="subsection-list">
				<li>Assisted students and faculty in using 3D printers, Arduino boards, Raspberry Pis, a laser cutter, a silhouette cutter, button makers, and other equipment</li>
			</ul>
		</div>


		<div class="subsection-header">
			<div class="bold-text subsection-title">
				Teaching Assistant
			</div>
			<span class="dash">-</span>
			<div class="normal-text">
				University of Puget Sound, Tacoma, WA
			</div>
			<div class="normal-text small right">
				Spring 2017
			</div>
		</div>
		<div class="subsection-container">
			<div class="bold-text default-color indent">
				<a target="_blank" href="https://www.pugetsound.edu/academics/departments-and-programs/undergraduate/philosophy/">
					Philosophy Department
				</a>
			</div>
			<ul class="subsection-list">
				<li>Assisted professor in administration for class of 19 students on Formal Logic</li>
				<li>Graded homework assignments and provided weekly tutoring sessions for class</li>
			</ul>
		</div>


		<div class="subsection-header">
			<div class="bold-text subsection-title">
				Department Tutor
			</div>
			<span class="dash">-</span>
			<div class="normal-text">
				University of Puget Sound, Tacoma, WA
			</div>
			<div class="normal-text small right">
				Spring 2016 - Spring 2017, 2018
			</div>
		</div>
		<div class="subsection-container">
			<div class="bold-text default-color indent">
				<a target="_blank" href="https://mathcs.pugetsound.edu">
					Computer Science Department
				</a>
			</div>
			<ul class="subsection-list">
				<li>Provided weekly peer tutoring for all class levels</li>
			</ul>
		</div>


		<div class="subsection-header">
			<div class="bold-text subsection-title">
				Media Services Staff
			</div>
			<span class="dash">-</span>
			<div class="normal-text">
				University of Puget Sound, Tacoma, WA
			</div>
			<div class="normal-text small right">
				Fall 2014 - Fall 2016
			</div>
		</div>
		<div class="subsection-container">
			<div class="bold-text default-color indent">
				<a target="_blank" href="https://www.pugetsound.edu/about/offices-services/technology-services/media-services/">
					Technology Services
				</a>
			</div>
			<ul class="subsection-list">
				<li>Performed troubleshooting for staff and faculty on campus</li>
				<li>Handled media requests for classes, events, and presentations</li>
			</ul>
		</div>
	</div>


	<h2 class="section-header">School Activities</h2>
	<div class="section-container">
		<div class="subsection-header">
			<div class="bold-text subsection-title align-on-right small">ACM</div>
			<div class="bold-text default-color">President<div class="normal-text ">,&nbsp;</div></div>
			<div class="normal-text">Computer Science club</div>
			<div class="normal-text small right">2016 - 2017</div>
		</div>

		<div class="subsection-header">
			<div class="bold-text subsection-title align-on-right small">PMU</div>
			<div class="normal-text">Mathematics Honor Society</div>
			<div class="normal-text small right">Inducted Spring 2017</div>
		</div>

		<div class="subsection-header">
			<div class="bold-text subsection-title align-on-right small">UPE</div>
			<div class="normal-text">Computer Science Honor Society</div>
			<div class="normal-text small right">Inducted Spring 2016</div>
		</div>

		<div class="subsection-header">
			<div class="bold-text subsection-title align-on-right small">PES</div>
			<div class="normal-text">Honor Society</div>
			<div class="normal-text small right">Inducted Spring 2015</div>
		</div>
	</div>


	<h2 class="section-header">Academic and Other Awards</h2>
	<div class="section-container">
		<div class="subsection-header">
			<div class="bold-text subsection-title">School of Music Scholarship</div>
			<div class="normal-text small right">2014 - 2018</div>
		</div>
		
		<div class="subsection-header">
			<div class="bold-text subsection-title">Edward Goman Math Scholarship</div>
			<div class="normal-text small right">2016 - 2018</div>
		</div>

		<div class="subsection-header">
			<div class="bold-text subsection-title">Graduated with Honors from Budapest Semesters in Mathematics</div>
			<div class="normal-text small right">Fall 2017</div>
		</div>

		<div class="subsection-header">
			<div class="bold-text">Collier Interdisciplinary Scholarship</div>
			<div class="normal-text small right">Fall 2016</div>
		</div>
	</div>

	<h2 class="section-header">Other Interests</h2>
	<div class="section-container">
		<div class="section-row">
			<div class="bold-text align-on-right">Interests, Skills</div>
			<div class="normal-text">Cello, Philosophy of Math, Recreational Math, Data Visualization</div>
		</div>
	</div>
</div>
<script src="./resume.js"></script>