:root {
    --name-font-size: 3rem;
    --section-header-font-size: 1.125rem;
    --normal-text-font-size: 1rem;
    /* for Nunito font */
    --extra-light-weight: 200;
    --normal-weight: 400;
    --semi-bold-weight: 600;
    --bold-weight: 700;
}

body > main * {
    margin: 0;
    padding: 0;
}

body > main > #page-info {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    left: 1rem;
}

body > main > #page-info #link-to-resume {
    margin-left: 1rem;
    color: var(--palette-gray-2);
    height: fit-content;
    font-style: italic;
}

#link-to-resume::after {
    content: "\276D";
    font-style: initial;
    margin-left: 0.5rem;
}

body > main > header {
    display: grid;
    grid-template-columns: 57.5% 1fr;
    margin-top: 30pt;
}

body > main > header #name {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: var(--name-font-size);
    display: flex;
    justify-content: start;
    align-items: center;
}

body > main > header #name *:nth-child(2) {
    margin: 0 1ch;
}

body > main > header address {
    font-style: normal;
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    margin-left: calc(100% * 1 / 15);
}

body > main > header address ul {
    list-style-type: none;
}

body > main > hr {
    background-color: var(--palette-pink-1);
    color: var(--palette-pink-1);
    border-color: var(--palette-pink-1);
    border-top: 0;
    margin: 6pt 0;
}

body > main > section {
    padding: initial;
    background-color: initial;
    border: none;
    text-shadow: initial;
}

body > main > section:hover {
    background-color: initial;
}

body > main > section * {
    font-size: var(--normal-text-font-size);
    font-family: "Nunito", sans-serif;
    font-weight: var(--normal-weight);
}

body > main > section h2 {
    font-family: "Montserrat", sans-serif;
    font-size: var(--section-header-font-size);
    color: var(--palette-pink-1);
}

body > main > section h3 {
    font-weight: var(--bold-weight);
}

body > main > section h4 {
    font-weight: var(--semi-bold-weight);
}

body > main > section .light {
    font-weight: var(--extra-light-weight);
}

body > main > section ul.no-bullets {
    list-style-type: none;
}

body > main > section .section-body .section-row.section-row-title,
body > main > section .section-body .section-row .section-row-title {
    display: grid;
}

body > main > section .section-body .section-row.section-row-title > *,
body > main > section .section-body .section-row .section-row-title > * {
    align-self: start;
}

body > main > section .section-body .section-row.section-row-title.with-middle,
body > main > section .section-body .section-row .section-row-title.with-middle {
    grid-template-columns: 30% 1fr;
}

body > main > section .section-body .section-row.section-row-title.with-left-aligned-middle,
body > main > section .section-body .section-row .section-row-title.with-left-aligned-middle {
    grid-template-columns: calc(100% * 22 / 120) 1fr;
}

body > main > section .section-body .section-row.section-row-title.with-end,
body > main > section .section-body .section-row .section-row-title.with-end {
    grid-template-columns: auto auto;
}

body > main > section .section-body .section-row.section-row-title.with-end h3 .left-aligned-middle,
body > main > section .section-body .section-row .section-row-title.with-end h3 .left-aligned-middle {
    margin-left: calc(100% * 2 / 30);
}

body > main > section .section-body .section-row.section-row-title.with-middle.with-end,
body > main > section .section-body .section-row .section-row-title.with-middle.with-end {
    grid-template-columns: 30% 1fr max-content;
}

body > main > section .section-body .section-row.section-row-title.with-left-aligned-middle.with-end,
body > main > section .section-body .section-row .section-row-title.with-left-aligned-middle.with-end {
    grid-template-columns: calc(100% * 2 / 30) 1fr max-content;
}

body > main > section .section-body .section-row.section-row-title.with-end > *:last-child,
body > main > section .section-body .section-row .section-row-title.with-end > *:last-child {
    justify-self: end;
    font-weight: var(--extra-light-weight);
}

body > main > section .section-body .section-row .section-row-subtitle {
    margin-left: calc(100% * 1 / 30);
}

body > main > section .section-body .section-row ul li {
    list-style-position: outside;
    margin-left: calc((100% * 1 / 30) + 1rem);
}

body > main > section .section-body.with-row-spacing .section-row:not(:first-of-type) {
    margin-top: 1rem;
}

body > main > section #animated-code-container {
    display: flex;
    padding: 0.5rem;
    margin-top: 0.5rem;
    background-color: #343d46;
    border: none;
    border-radius: 0.25rem;
    overflow: hidden;
    width: fit-content;

    will-change: box-shadow;

    transition: box-shadow var(--default-transition-time);
}

body > main > section #animated-code-container:hover {
    box-shadow: 0 0 8px 2px var(--palette-blue-5);
}

body > main > section #animated-code-container code,
body > main > section #animated-code-container code > * {
    display: flex;
}

body > main > section #animated-code-container code * {
    font-family: "Courier New", Courier, monospace;
    font-size: 1.125rem;
}


body > main > section #animated-code > * {
    transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);

    will-change: transform, -ms-transform, -webkit-transform;
}

#language-table-container {
    flex-grow: 1;
}

#language-table-container .fa-react,
#language-table-container .fa-java,
#language-table-container .fa-python,
#language-table-container .fa-js-square {
    font-size: 1.5rem;
}

#language-table-container table img {
    height: 1.5rem;
}

#language-table-container .fa-react {
    color: #00d8ff;
}

#language-table-container .fa-java {
    color: #ffa518;
}

#language-table-container .fa-python {
    color: #306998;
}

#language-table-container .fa-js-square {
    color: #f7df1e;
}

#language-table-container table {
    width: 100%;
}

#language-table-container td > a {
    color: inherit;
    font-size: inherit;
}

#language-table-container table#mobile-table {
    display: none;
}

#language-table-container table#desktop-table {
    display: table;
}

@media only screen and (max-width: 950px) {
    body > main > header {
        grid-template-columns: initial;
    }

    body > main > header #name {
        justify-content: center;
    }

    body > main > header address {
        margin: 0;
    }

    body > main > header address ul {
        display: flex;
        justify-content: space-between;
    }

    body > main > header address ul li {
        display: inline;
    }
}

@media only screen and (max-width: 650px) {
    body > main > header #name {
        font-size: 2rem;
    }

    body > main > header address ul {
        flex-flow: column;
        align-items: center;
    }

    body > main > header address ul li {
        display: list-item;
    }

    body > main > section .section-body .section-row.section-row-title,
    body > main > section .section-body .section-row .section-row-title,
    body > main > section .section-body .section-row.section-row-title.with-middle,
    body > main > section .section-body .section-row .section-row-title.with-middle,
    body > main > section .section-body .section-row.section-row-title.with-left-aligned-middle,
    body > main > section .section-body .section-row .section-row-title.with-left-aligned-middle,
    body > main > section .section-body .section-row.section-row-title.with-end,
    body > main > section .section-body .section-row .section-row-title.with-end,
    body > main > section .section-body .section-row.section-row-title.with-middle.with-end,
    body > main > section .section-body .section-row .section-row-title.with-middle.with-end,
    body > main > section .section-body .section-row.section-row-title.with-left-aligned-middle.with-end,
    body > main > section .section-body .section-row .section-row-title.with-left-aligned-middle.with-end {
        grid-template-columns: initial;
    }

    body > main > section .section-body .section-row.section-row-title > *:not(:first-child),
    body > main > section .section-body .section-row .section-row-title > *:not(:first-child) {
        margin-left: calc(100% * 1 / 30);
    }

    body > main > section .section-body .section-row.section-row-title.with-end > *:last-child,
    body > main > section .section-body .section-row .section-row-title.with-end > *:last-child {
        justify-self: initial;
        white-space: initial;
    }

    #language-table-container table#mobile-table {
        display: table;
    }

    #language-table-container table#desktop-table {
        display: none;
    }

    #animated-code-container code #animated-code-assignment {
        display: none;
    }
}