#resume-container {
    --section-header-color: var(--palette-blue-4);
    --subsection-header-color: var(--text-color);
    --default-text-color: var(--palette-gray);

    --bold-font-size: 1.25rem;
    --bold-font-weight: 600;

    --normal-font-size: 1.25rem;
    --normal-font-weight: 200;

    --small-font-size: 1rem;
}

#resume-container > #current-page-info {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 1rem;
}

#resume-container > #current-page-info > a {
    padding: .25rem 0.5rem;
    color: var(--palette-gray-2);
    height: fit-content;
    font-style: italic;
}

#resume-container > #name {
    font-size: 4.5rem;
    font-family: 'Barlow Semi Condensed', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 1rem;

    border-bottom: 1px solid var(--palette-pink-1);
}

#resume-container > #name > :nth-child(2) {
    margin: 0 1rem;
}

#resume-container > #contact-info {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

#resume-container .indent > a {
    margin-left: calc(-var(--link-lr-padding));
}

#resume-container > section {
    position: relative;
}

#resume-container > section > .section-header {
    position: sticky;
    top: 0.5rem;

    width: fit-content;

    padding: 0.25rem 0.5rem;
    margin-left: -0.5rem;

    font-size: 1.375rem;
    font-family: 'Montserrat', sans-serif;

    color: var(--section-header-color);

    background-color: rgba(45, 51, 57, 0.8);
    border: 1px solid var(--main-bg-color);
    border-radius: 0.5rem;
}

#resume-container > section > .section-container {
    color: var(--default-text-color);
}

#resume-container > section > .section-row,
#resume-container > section > .subsection-header {
    display: flex;
}

#resume-container > section > .subsection-header {
    font-family: 'Nunito', sans-serif;
}

#resume-container > section > .section-container > .section-row.align-top {
    align-items: baseline;
}

#resume-container > section > .section-container .align-on-right {
    width: 25%;
}

#resume-container > section > .section-container .align-on-right.small {
    width: 10%;
}

#resume-container > section > .section-container .bold-text {
    font-size: var(--bold-font-size);
    font-weight: var(--bold-font-weight);
    font-family: 'Nunito', sans-serif;
    display: flex;
    align-items: center;
}

#resume-container > section > .section-container .bold-text.default-color {
    color: var(--default-text-color);
}

#resume-container > section > .section-container .subsection-list {
    list-style-position: inside;
}

#resume-container > section > .section-container .subsection-list,
#resume-container > section > .section-container .indent {
    margin-left: 2rem;
}

#resume-container > section > .section-container .subsection-list.no-bullets {
    list-style-position: outside;
    list-style-type: none;
}

#resume-container > section > .section-container .normal-text {
    font-size: var(--normal-font-size);
    font-weight: var(--normal-font-weight);
    font-family: 'Nunito', sans-serif;
}

#resume-container > section > .section-container .normal-text.small {
    font-size: var(--small-font-size);
}

#resume-container > section > .section-container .normal-text.small.right {
    margin-left: auto;
}

#resume-container > section > .section-container #language-table-container {
    flex-grow: 1;
}

#resume-container #animated-code-container {
    padding: 0.5rem;
    margin-top: 0.5rem;
    background-color: #282828;
    border: none;
    border-radius: 0.25rem;
    overflow: hidden;
    font-size: var(--bold-font-size);
    font-weight: 100;

    will-change: box-shadow;

    transition: box-shadow var(--default-transition-time);
}

#resume-container #animated-code-container:hover {
    box-shadow: 0 0 8px 2px var(--palette-blue-5);
}

#resume-container #animated-code-container:hover {}

#animated-code > * {

    transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);

    will-change: transform;
}

#alternate-website-display {
    display: none;
}

.dash {
    margin: 0 .5rem;
}

.dash.extra-space {
    margin: 0 1rem;
}

.fa-react {
    color: #00d8ff;
}

.fa-java {
    color: #ffa518;
}

.fa-python {
    color: #306998;
}

.fa-js-square {
    color: #f7df1e;
}

td > a {
    color: inherit;
    font-size: inherit;
}

tbody {
    display: inline-table;
    vertical-align: baseline;
    width: 100%;
}

table img {
    height: 1.5rem;
}

#desktop-table {
    width: 100%;
}

#mobile-table {
    display: none;
}

@media only screen and (max-width: 640px) {
    #current-page-info {
        left: 4rem;
        top: 1rem;
        flex-direction: row;
        align-items: baseline;
    }

    #current-page-info > h2 {
        margin: 0 1rem;
    }
}

@media only screen and (max-width: 850px) {
    .align-on-right {
        width: 100%;
    }

    #contact-info {
        flex-direction: column;
        align-items: center;
    }

    #contact-info li {
        margin: .25rem 0;
    }

    #contact-info li:last-of-type {
        margin-bottom: 0;
    }

    .section-row,
    .subsection-header {
        flex-direction: column;
        align-items: baseline;
        margin-top: .5rem;
    }

    .subsection-list {
        list-style-position: outside;
    }

    .normal-text.small.right {
        margin: 0;
    }

    #name {
        flex-direction: column;
    }

    #name > :nth-child(2) {
        margin: 0;
    }

    .normal-text.small {
        float: left;
    }

    .dash {
        display: none;
    }

    #language-table-container {
        width: 100%;
    }

    #desktop-table {
        display: none;
    }
    #mobile-table {
        display: inline-table;
        width: 100%;
    }
}

@media print {
    main,
    #resume-container {
        margin: 0;
        padding: 0;
        width: auto;
    }

    #resume-container a {
        border: none;
    }

    #animated-code-container {
        display: none;
    }

    #alternate-website-display {
        display: flex;
    }
    .language-icon {
        display: none;
    }
}