#blog-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    margin: 1rem 0;
}

#blog-header h1 {
    margin: 0;
}

#random-post {
    padding: .25rem;
}

#tags-list-container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: .5rem;
    border-radius: .25rem;
    border: 1px solid var(--palette-gray-2);
}

#tags-list-container h3,
#tags-list-container h4 {
    margin-bottom: .5rem;
}

#tags-list-container #filter-options {
    display: flex;
    margin-bottom: .5rem;
}

#tags-list-container #filter-options label {
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    width: 5rem;
    height: 2rem;

    border-radius: .25rem;
    background-color: var(--palette-light-blue-transparent);

    will-change: background-color;

    transition: background-color var(--default-transition-time);
}

#tags-list-container #filter-options label:first-of-type {
    margin-right: 1rem;
}

#tags-list-container  #filter-options input[type="radio"]:checked + label {
    background-color: var(--palette-blue-1);
    cursor: default;
}

#tags-list-container  #filter-options input[type="radio"]:not(:checked) + label:hover {
    background-color: var(--palette-blue-5);
}

#tags-list-container  #filter-options input[type="radio"] {
    display: none;
}

#tags-list-container #filter-options #filter-message {
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

#tags-list-container #filter-options #filter-message .search-tag {
    color: var(--palette-pink-1);
}

#tags-list-container #filter-options #filter-message .search-tag:first-of-type {
    margin-left: 1rem;
}

#tags-list-container #filter-options #filter-message .search-tag-delimiter {
    color: var(--palette-blue-3);
    margin: 0 0.5rem;
}

#tags-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
}

#tags-list li {
    margin-bottom: .75rem;
}

#tags-list .filter {
    cursor: pointer;
    padding: .25rem;
    margin: 0 .25rem;
    border-radius: 0.25rem;
}

#tags-list li:first-of-type .filter {
    margin: 0;
    margin-right: .25rem;
}

#tags-list li:last-of-type .filter {
    margin: 0;
    margin-left: .25rem;
}

#tags-list .filter.selected {
    background-color: var(--palette-blue-1);
    /*border-color: var(--palette-light-blue);
    background-color: var(--palette-light-blue-transparent);*/
}



.posts {
    list-style-type: none;
}

.posts .link-to-post-container.hide {
    display: none;
}

.posts > .link-to-post-container > .link-to-post {
    font-size: 1.25rem;
    padding: .5rem 1rem;
    margin: .25rem 0;
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-column-gap: 1rem;
    align-items: center;

    border-radius: 0.25rem;

    will-change: color, background-color;

    transition: color var(--default-transition-time), background-color var(--default-transition-time);
}

.posts > .link-to-post-container > .link-to-post > .post-tags {
    font-size: 0.8rem;
    max-width: 8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
    justify-self: flex-end;
}

.posts > .link-to-post-container > .link-to-post > .post-tags::before {
    content: "[ ";
}

.posts > .link-to-post-container > .link-to-post > .post-tags::after {
    content: " ]";
}

.posts > .link-to-post-container > .link-to-post > .post-date {
    color: var(--palette-gray-2);
    font-size: 1rem;
}

.posts > .link-to-post-container > .link-to-post > .post-date.desktop {
    display: inline;
}

.posts > .link-to-post-container > .link-to-post > .post-date.mobile {
    display: none;
}


.posts > .link-to-post-container > .link-to-post:hover {
    background-color: var(--palette-blue-1);
    color: var(--palette-pink-1);
}

.posts > .link-to-post-container > .link-to-post:hover > .post-date {
    color: var(--palette-pink-1);
     /*var(--palette-sangria);*/
}

#no-posts-message {
    display: none;
    justify-content: center;
    font-size: 1.2rem;
    margin: 2rem 0;
}

@media screen and (max-width: 640px) {
    #blog-header {
        flex-direction: column;
    }

    .posts > .link-to-post-container > .link-to-post > .post-tags {
        max-width: 4rem;
    }

    .posts > .link-to-post-container > .link-to-post > .post-date.desktop {
        display: none;
    }

    .posts > .link-to-post-container > .link-to-post > .post-date.mobile {
        display: inline;
    }
}