---
layout: default
title: Blog posts
---
<link rel="stylesheet" type="text/css" href="./shared.css">
<link rel="stylesheet" type="text/css" href="./blog.css">

<script type="text/javascript" src="/js/blog-filters.js"></script>

<header class="index-header">
    <h1>Blog posts</h1>
    {% include blog-nav %}
</header>

<div id="tags-list-container">
    <h3>Tags</h3>
    <ul id="tags-list">
        {% assign tag_names = "" | split: "" %}

        {% for tag in site.tags %}
            {% assign tag_names = tag_names | push: tag[0] %}
        {% endfor %}
        
        {% assign sorted_tags = tag_names | sort %}

        {% for tag in sorted_tags %}
        <li>
            <button
                type="button"
                id="{{ tag | replace: ' ', '-' }}"
                class="filter"
                onclick="toggleFilter('{{ tag }}')"
            >
                {{ tag }}
            </button>
        </li>
        {% endfor %}
    </ul>

    <h4>Filter Options</h4>
    <div id="filter-options">
        <input id="and-filter" type="radio" name="filter-method" value="and" checked onclick="handleChange(this)" />
        <label for="and-filter">AND</label>


        <input id="or-filter" type="radio" name="filter-method" value="or" onclick="handleChange(this)"/>
        <label for="or-filter">OR</label>

        <div id="filter-message"></div>
    </div>
</div>

<ul class="posts">
	{% for post in site.posts %}
	<li
        class="link-to-post-container"
        id="{{ post.title }}"
        data-tags="{{ post.tags | join: ',' | replace: ' ', '-' }}"
    >
		<a
            class="link-to-post"
            href="{{ post.url }}"
            title="{{ post.title }}"
        >
            {{ post.title }}
            {% if post.draft %}
                (draft)
            {% endif %}
            {% if post.tags[0] %}
                {% assign joined_tags = post.tags | join: ', ' %}

                <span class="post-tags" title="{{ joined_tags }}">{{ joined_tags }}</span>
            {% endif %}
            <span class="post-date desktop">
                {{ post.date | date: "%b %-d, %Y" }}
            </span>
            <span class="post-date mobile">
                {{ post.date | date: "%m/%d/%y" }}
            </span>
        </a>
	</li>
	{% endfor %}
</ul>

<div id="no-posts-message">
    No posts found
</div>

<script src="/js/boids.js"></script>