---
layout: default
title: Blog posts
---
<link rel="stylesheet" type="text/css" href="./shared.css">
<link rel="stylesheet" type="text/css" href="./blog.css">

<script type="text/javascript">
    let showAllPosts = true;
    let filterByIntersection = true;

    const filterList = [];

    function handleChange(button) {
        let newValue = button.value === "and";
        if (newValue !== filterByIntersection) {
            filterByIntersection = newValue
            if (!showAllPosts) {
                filterPosts();
            }
        }
    }

    function showPost(post) {
        post.classList.toggle("hide", false);
    }

    function hidePost(post) {
        post.classList.toggle("hide", true);
    }

    function containsATag(tagList) {
        if (!tagList) {
            return false;
        }

        const currTags = tagList.tags.split(",");
        for (let i = 0; i < filterList.length; i++) {
            if (currTags.includes(filterList[i])) {
                return true;
            }
        }
        return false;
    }

    function containsEveryTag(tagList) {
        if (!tagList) {
            return false;
        }

        const currTags = tagList.tags.split(",");

        for (let i = 0; i < filterList.length; i++) {
            if (!currTags.includes(filterList[i])) {
                return false;
            }
        }
        return true;
    }

    function toggleFilter(rawFilter) {
        const filter = rawFilter.replace(" ", "-");
        const wrapper = document.querySelector(`#tags-list #${filter}`);
        wrapper.classList.toggle("selected");

        if (filterList.includes(filter)) {
            filterList.splice(filterList.indexOf(filter), 1);
            if (filterList.length === 0) {
                showAllPosts = true;
            }
        } else {
            filterList.push(filter);
            showAllPosts = false;
        }

        filterPosts();
    }

    function filterPosts() {
        const allPosts = document.querySelectorAll(".link-to-post-container");
        const filterFunction = filterByIntersection? containsEveryTag : containsATag;
        const delimiter = filterByIntersection? " and " : " or ";
        let message = "";

        if (!showAllPosts) {
            message = filterList.map(word => (
                `<span class="search-tag">${word.replace("-", " ")}</span>`
            )).join(`<span class="search-tag-delimiter"> ${delimiter} </span>`);
        }

        document.querySelector("#filter-message").innerHTML = message ? `Searching for > ${message}` : "";

        let currentPost;
        let nonEmpty = false;
        for (let i = 0; i < allPosts.length; i++) {
            currentPost = allPosts[i];

            if (showAllPosts || filterFunction(currentPost.dataset)) {
                showPost(currentPost);
                nonEmpty = true;
            } else {
                hidePost(currentPost);
            }
        }

        const noPostsMessage = document.querySelector("#no-posts-message");

        if (nonEmpty) {
            noPostsMessage.style.display = "none";
        } else {
            noPostsMessage.style.display = "flex";
        }
    }
</script>

<header class="index-header">
    <h1>Blog posts</h1>
    {% include blog-nav %}
</header>

<div id="tags-list-container">
    <h3>Tags</h3>
    <ul id="tags-list">
        {% assign tag_names = "" | split: "" %}

        {% for tag in site.tags %}
            {% assign tag_names = tag_names | push: tag[0] %}
        {% endfor %}
        
        {% assign sorted_tags = tag_names | sort %}

        {% for tag in sorted_tags %}
        <li>
            <a
                id="{{ tag | replace: ' ', '-' }}"
                class="filter"
                onclick="toggleFilter('{{ tag }}')"
            >
                {{ tag }}
            </a>
        </li>
        {% endfor %}
    </ul>

    <h4>Filter Options</h4>
    <div id="filter-options">
        <input id="and-filter" type="radio" name="filter-method" value="and" checked onclick="handleChange(this)" />
        <label for="and-filter">AND</label>


        <input id="or-filter" type="radio" name="filter-method" value="or" onclick="handleChange(this)"/>
        <label for="or-filter">OR</label>

        <div id="filter-message"></div>
    </div>
</div>

<ul class="posts">
	{% for post in site.posts %}
	<li
        class="link-to-post-container"
        id="{{ post.title }}"
        data-tags="{{ post.tags | join: ',' | replace: ' ', '-' }}"
    >
		<a
            class="link-to-post"
            href="{{ post.url }}"
            title="{{ post.title }}"
        >
            {{ post.title }}
            {% if post.tags[0] %}
                {% assign joined_tags = post.tags | join: ', ' %}

                <span class="post-tags" title="{{ joined_tags }}">{{ joined_tags }}</span>
            {% endif %}
            <span class="post-date desktop">
                {{ post.date | date: "%b %-d, %Y" }}
            </span>
            <span class="post-date mobile">
                {{ post.date | date: "%m/%d/%y" }}
            </span>
        </a>
	</li>
	{% endfor %}
</ul>

<div id="no-posts-message">
    No posts found
</div>

<script src="/js/boids.js"></script>