<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
			<title>{{ page.title }}</title>
			<!-- favicon -->
			<link rel="shortcut icon" type="image/png" href="{{ "/data/favicon.png?" | prepend: site.baseurl }}" >
			<!-- Load Mathjax stuff -->
			<script type="text/javascript" async src="https://cdn.rawgit.com/mathjax/MathJax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
			<script type="text/javascript" src="/js/transcendental_list.js"></script>
			<!-- Main stylesheets -->
			<link href='//fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
			<link rel="stylesheet" type="text/css" href="/css/main.css">

			<!-- fontawesome for social media icons -->
			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

			<script type="text/javascript">
				const toggleMenuVisibility = () => {
				    document.querySelector('#main-nav-menu')
				        .classList
				        .toggle('show-menu');
				    document.querySelector('#mobile-menu-button')
				        .classList
				        .toggle('show-menu');
				}
			</script>
		</head>
		<body>
			<nav>
				<div id="mobile-menu-button-container">
					<div
		                id="mobile-menu-button"
		                onclick="toggleMenuVisibility()"
		            >
		                <i class="fas fa-bars"></i>
		            </div>
		        </div>
				<ul id="main-nav-menu">
		            <li><a href="/">Home</a></li>
		            <li><a href="/about">About</a></li>
		            <li class="subnav-title">
		                <a href="/blog">Blog</a>
		                <ul class="subnav">
		                    <li><a href="/blog">Interactive projects</a></li>
		                    <li><a href="/blog/writing">Writing</a></li>
		                </ul>
		            </li>
		            <li class="subnav-title">
		                <a href="/resume">Resume</a>
		                <ul class="subnav">
		                    <li><a href="/resume">Online&nbsp;CV</a></li>
		                    <li><a href="{{ "/data/Jesse_Jenks_Resume.pdf" | prepend: site.baseurl }}">One&nbsp;page PDF</a></li>
		                </ul>
		            </li>
		            <li><a href="/links">Links</a></li>
		        </ul>
		    </nav>
			</nav>
			<main class="container">

			{{ content }}

			</main>
			<footer>
				<hr>
				<ul>
					<li>
						<a href="mailto:jesseendojenks@gmail.com">
							<i class="far fa-envelope fa-2x"></i>
						</a>
					</li>
					
					<li>
						<a style="color:black;" target="_blank" href="https://www.github.com/jessejenks">
							<i class="fab fa-github fa-2x"></i>
						</a>
					</li>
					
					<li>
						<!-- color from the official brand guidelines -->
						<a style="color:#0077B5;" target="_blank" href="https://www.linkedin.com/in/jesse-endo-jenks">
							<i class="fab fa-linkedin fa-2x"></i>
						</a>
					</li>

					<li>
						<!-- color from the official brand guidelines -->
						<a style="color:#1da1f2;" target="_blank" href="https://twitter.com/JesseEndoJenks">
							<i class="fab fa-twitter fa-2x"></i>
						</a>
					</li>
					
					<li>
						<a target="_blank" href="https://www.mathjax.org">
							<img align="middle" title="Powered by MathJax" src="https://cdn.mathjax.org/mathjax/badge/badge.gif" alt="Powered by MathJax" height="32px" border="0">
						</a>
					</li>

					<li>
						<a target="_blank" id="transcendental" style="display:inline-block; height:32px; line-height:32px; text-align:center; font-size:20px;">
						</a>
					</li>
					
					<!-- For tracking visits -->
					<!-- <div style="display:none;"><script type="text/javascript" src="//ra.revolvermaps.com/0/0/7.js?i=0hbv4cjt8yu&amp;m=7&amp;c=5ba1b2&amp;cr1=ffffff&amp;sx=0&amp;dds=0&amp;ds=20" async="async"></script></div> -->
				</ul>
				<script>
					const n = Math.floor(Math.random()*transcendentals.length);
					const t = document.querySelector('#transcendental');
					t.href = transcendentals[n].link;
					t.innerText = transcendentals[n].number;
				</script>
			</footer>
		</body>
	</html>
