<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ page.title }}</title>
        <!-- favicon -->
        <link rel="shortcut icon" type="image/png" href="{{ "/assets/favicon.png?" | prepend: site.baseurl }}" >
        <!-- Load Mathjax -->
        <script
            id="MathJax-script"
            type="text/javascript"
            async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
        ></script>
        <script type="text/javascript">
            MathJax = {
                tex: {
                    displayMath: [ ['\\[','\\]'] ]
                }
            }
        </script>
        <script type="text/javascript" src="/js/funNumbers.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/default.css">
    </head>
    <body>
        {% include header.html %}
        <main>
            {{ content }}
        </main>
        {% include footer.html %}
    </body>
</html>